div {
  display: flex;
  justify-content: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 70px;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #2274A5;
}

/* The Buttons */

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 40px;
  margin: 20px 10px 20px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #1C3144;
  background-color: #73D2DE;
  border: 2px solid #2274A5;
  border-radius: 30px;
  padding: 10px;
}

/*.france, .italy, .UK {
  border: 2px solid #2274A5;
}*/

.pauseButton {
  display: none;
  background-color: #2274A5;
  border-radius: 40%;
}

.playButton {
  border-radius: 40%;
  background-color: #2274A5;
  width: calc(20% - 5px);
  height: calc(15% - 10px);
  margin: 10px 0;
}


/* The Overlays */

.overlayChoose {
  background-color: #73D2DE;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.overlayInstructions {
  background-color: #73D2DE;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

/* The Grid */

.grid {
  background-color: #73D2DE;
  position: relative;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;*/
}

.icons {
  background-color: #2274A5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(20% - 15px);
  padding-top: 19%;
  margin: 10px 0;
}

/* The Counter */

.counter {
  background-color: #2274A5;
  border-radius: 40%;
  position: relative;
}

.counter:after {
  content: '';
  height: 33%;
  width: 33%;
  border-radius: 50%;
  background-color: #2274A5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* The Animation */

.wiggle {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
