div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  padding: 25px;
  font-weight: bold;
  color: #0B1C8B;
}

p {
  font-size: 30px;
  padding: 40px;
  margin-top: 20px;
  color: #6D80BF;
  text-align: center;
}

.heading-img {
  width: auto;
  height: 150px;
  background-image: url(../images/skyline2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.default-cursor {
  cursor: default;
}

.addCursor {
  cursor: url("../images/bikeSmall.png"), pointer;
}

/* The Petrol Bar*/
.petrol-bar {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  color: #3644A5;
  border-radius: 5px;
}

.petrol-bar h3 {
  font-size: 20px;
  color: #3644A5;
  padding: 5px;
}

.petrol {
  background-color: #6D80BF;
  width: 100%;
  height: 20px;
}

.bike {
  z-index: 999;
  width: 100px;
  height: 100%;
}

/* The Buttons */
button {
  width: 210px;
  font-size: 35px;
  font-weight: normal;
  margin: 8px;
  color: #3644A5;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

button:hover {
  font-size: 35px;
  font-weight: 600;
  outline: 0;
}

.play-button {
  width: 150px;
}

.goBack {
  align-self: flex-end;
  width: 150px;
  font-size: 30px;
}

.beginJourney {
  width: 400px;
}

.return-home {
  width: 400px
}

/* The Overlays */
.overlay-choose {
  display: none;
}

.overlay-instructions {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.overlay-win {
  display: none;
}

.overlay-lose {
  display: none;
}

/* The Grid */
.grid {
  display: none
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;*/
}

.icons {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(20% - 15px);
  padding-top: 19%;
  margin: 10px 0;
  opacity: 0.85;
}

.icons:hover {
  opacity: 1;
}

/* The addTick */
.addTick {
  position: relative;
}

.addTick:after {
  content: '\f00c';
  font-family: FontAwesome;
  text-align: center;
  color: #6D80BF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 33%;
  border-radius: 50%;
  background-color: #ABBFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* The Animation on click*/
.wiggle {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
