div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  padding: 25px;
  font-weight: bold;
  color: #41A2A5;
}

p {
  font-size: 30px;
  padding: 40px;
  margin-top: 20px;
  color: #2D7072;
  text-align: center;
}

/* The Petrol Bar*/
.petrolBar {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  color: #2D7072;
  border-radius: 5px;
}

.petrolBar h3 {
  font-size: 25px;
  color: #2D7072;
  padding: 5px;
}

.petrol {
  background-color: #2D7072;
  width: 100%;
  height: 20px;
}


/* The Buttons */

button {
  font-size: 40px;
  margin: 15px 8px 15px 8px;
  font-weight: 400;
  color: #2D7072;
  background-color: #A7F0F1;
  border: 2px solid #41A2A5;
  border-radius: 40px;
  padding: 10px 50px 10px 50px;
}

/*button.playButton {
  color: #41A2A5;
}*/

/*.france, .italy, .UK {
  border: 2px solid #41A2A5;
}*/

.pauseButton {
  display: none;
  background-color: #41A2A5;
  border-radius: 40%;
}

.playButton {
  border-radius: 40px;
  background-color: #A7F0F1;
  width: calc(20% - 5px);
  height: calc(15% - 10px);
  margin: 10px 0;
  padding: 10px;
}




/* The Overlays */

.playGame {

}

.overlayChoose {
  background-color: white;
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.overlayInstructions {
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.overlayWin {
  background-color: white;
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.overlayLose {
  background-color: white;
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

/* The Grid */

.grid {
  visibility: hidden;
  position: relative;
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  /*-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;*/
}

.icons {
  background-color: #41A2A5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(20% - 15px);
  padding-top: 19%;
  margin: 10px 0;
}

/* The Counter */

.counter {
  position: relative;
}

.counter:after {
  content: '\f00c';
  font-family: FontAwesome;
  text-align: center;
  color: #2D7072;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  width: 33%;
  border-radius: 50%;
  background-color: #41A2A5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* The Animation */

.wiggle {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
